<footer class="footer">
  <div class="container">
    <p class="footer__organization-name">
      <%= image_tag 'logotype.svg', class: 'site-header__logo' %>
      ГОРОДНЕЙМСКАЯ ОБЛАСТНАЯ БИБЛИОТЕКА
    </p>
    <address class="address">
      <p class="address__item">
        <span>
          Городнеймская областная библиотека. Защищённых прав нет. 2024-2024
        </span>
      </p>
      <p class="address__item">
        <span>
          123456, г.Томск, ул.Пушкина, 100
        </span>
      </p>
      <p class="address__item">
        <span>
          +7 (3822) 96-22-76. baza@lib.tomsk.ru
        </span>
      </p>
    </address>
  </div>
</footer>
