<header class="header">
  <div class='site-header'>
    <div class="site-header__inner container">
      <%= link_to root_path, class: 'site-header__app-title' do %>
        <%= image_tag 'logotype.svg', class: 'site-header__logo' %>
        <span class="site-header__app-name desktop-only">
          <%= "ГОРОДНЕЙМСКАЯ ОБЛАСТНАЯ БИБЛИОТЕКА" %>
        </span>
      <% end %>
      <div class="site-header__actions">
        <button class="icon icon--burger mobile-only js-header-menu">
        </button>
      </div>
    </div>
  </div>
</header>
